# =========================================
# Main
# =========================================
*.vcf
static/*.vcf
*.pdf
resume.pdf

# Personal Notes
notes.txt

# IMPORTANT
.env

# =========================================
# Python Scripts
# =========================================
encrypt.py
scss.py

# Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Scss
.sass-cache/
*.css.map

# =========================================
# Else
# =========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp