<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Bairu Song's personal webpage." />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        
        <title> {% block page_title %}{% endblock %} </title>
        {% block extra_head %}{% endblock %}
    </head>



    <body>

        <nav class="navbar">
            <div class="status-indicator">
                <span class="status-dot"></span>
                <span class="status-text">LIVE</span>
            </div>
            
            <div class="page-links">
                <a href="{{ url_for('index') }}" title="Home">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="{{ url_for('work') }}" title="My Work">
                    <i class="fa-solid fa-briefcase"></i>
                </a>
                <a href="https://github.com/BarryS27" target="_blank" rel="noopener noreferrer">
					          <i class="fa-brands fa-github"></i>
				</a>
                <a href="https://medium.com/@BarryS27" target="_blank" rel="noopener noreferrer">
        					  <i class="fa-brands fa-medium"></i>
        		</a>
                <!-- <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
        					  <i class="fa-brands fa-linkedin"></i>
        		</a> -->
                <!-- <a href="mailto:songbairu.27@gmail.com">
					          <i class="fa-solid fa-envelope"></i>
				</a> -->
            </div>
        </nav>

        <div class="container {% block container_class %}{% endblock %}">

            {% block content %}
            {% endblock %}

            <footer class="footer">
                <p>Bairu Song</p>
                <p class="copyright-text">All rights reserved © 2026</p>
            </footer>

        </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
		
    </body>

</html>
