{% macro badge(text, icon=None, color='blue') %}
    <span class="badge theme-{{ color }}">
        {% if icon %}
            <i class="ph-light {{ icon }}"></i>
        {% endif %}
        {{ text }}
    </span>
{% endmacro %}


{% macro project(title, description, tags, image, link, color='blue') %}
    <a href="{{ link }}" class="card">
        <img src="{{ image }}" alt="{{ title }}">
        
        <div>
            <div>
                <h3>{{ title }}</h3>
                <i class="ph-light ph-chevron-right"></i>
            </div>
            
            <p>{{ description }}</p>
            
            <div>
                {% for tag in tags %}
                    {{ badge(tag, color=color) }}
                {% endfor %}
            </div>
        </div>
    </a>
{% endmacro %}
