{% macro badge(text, icon=None, color='blue') %}
    <span class="badge is-{{ color }}">
        {% if icon %}
            <i class="{{ icon if ' ' in icon or 'fa-' in icon else 'fa-solid fa-' + icon }}"></i>
        {% endif %}
        {{ text }}
    </span>
{% endmacro %}

{% macro section(id, subtitle, title, type='card') %}
    <section id="{{ id }}" class="fade-in" aria-labelledby="{{ id }}-heading">
        <hgroup class="header">
            <p>{{ subtitle }}</p>
            <h2>{{ title }}</h2>
        </hgroup>
        <div class="{{ type }}">
            {{ caller() }}
        </div>
    </section>
{% endmacro %}

{% macro icard(title, description, link, tags=none, image=none, color='blue') %}
    <a href="{{ link }}" class="card project is-interactive" target="_blank" rel="noopener noreferrer">
        {% if image %}
            <img src="{{ image }}" alt="{{ title }}" loading="lazy" decoding="async" />
        {% endif %}
        
        <div>
            <hgroup>
                <h3>{{ title }}</h3>
                <i class="fa-solid fa-arrow-right"></i>
            </hgroup>
            
            <p>{{ description }}</p>
            
            {% if tags %}
                <div class="tag">
                    {% for tag in tags %}
                        {{ badge(tag, color=color) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </a>
{% endmacro %}
